body {
	background-color:black;
}

#math {
    color: white;
    font-family: 'Segoe UI';
    font-size: 20px;
    padding: 10px;
    align-content: center;
    text-align: center;
    height: auto;
    width: auto;
    border-radius: 25px;
    background-color: darkcyan;
}