body {
    background-color: black;
}

.menu {
    color: #ff0000;
    font-family: 'Segoe UI';
    font-size: 20px;
    padding: 4px;
    height: fit-content;
    background-color: dimgray;
}
p1 {
    color: white;
}