body {
	background-color:black;
}

#math {
    color: white;
    font-family: 'Segoe UI';
    font-size: 20px;
    padding: 10px;
    align-content: center;
    text-align: center;
    margin-left: 550px;
    margin-right: 550px;
    border-radius: 25px;
    background-color: darkcyan;
}